body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2%;
  padding-left: 2%;
}

.card {
  text-align: center;
  color: white;
  background-color: black;
  margin-top: 2%;
  border-radius: 15px;
  flex-basis: 31.333333%;
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 white;
}
.image-container {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px black solid;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.card-img {
  width: 100%;
}

.singelItemView {
  justify-content: center;
  text-align: center;
}
.singleImage {
  height: 70%;
  width: 70%;
}
